Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on
RewriteBase  /ExamenU4/

#páginas

#auth
RewriteRule ^login?$ index.php
RewriteRule ^home/?$ views/auth/home.php
RewriteRule ^profile/?$ views/auth/profile.php
RewriteRule ^register/?$ views/auth/register.php

#products
RewriteRule ^products/?$ views/products/index.php
# RewriteRule ^products/([^/]+)/?$ views/products/details.php
RewriteRule ^detailsProduct/?$ views/products/details.php


#users
RewriteRule ^users/?$ views/users/index.php
# RewriteRule ^users/([^/]+)/?$ views/users/details.php
RewriteRule ^detailsUser/?$ views/users/details.php

#clients
RewriteRule ^clients/?$ views/clients/index.php
# RewriteRule ^clients/([^/]+)/?$ views/clients/details.php
RewriteRule ^detailsClient/?$ views/clients/details.php





#controladores
RewriteRule ^auth?$ app/AuthController.php
RewriteRule ^tags?$ app/TagController.php
RewriteRule ^brands?$ app/BrandController.php
RewriteRule ^categories?$ app/CategoryController.php
RewriteRule ^api-products?$ app/ProductController.php
RewriteRule ^api-users?$ app/UserController.php
RewriteRule ^api-clients?$ app/ClientController.php

RewriteRule ^config?$ app/config.php
